<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>samuel</string>
		<key>creation_date</key>
		<date>2015-06-18T15:48:03Z</date>
		<key>munki_version</key>
		<string>2.2.2.2414</string>
		<key>os_version</key>
		<string>10.11</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string></string>
	<key>icon_hash</key>
	<string>8ba4af64e1765c85bfdf291ab125bde963378261f1ffccc7b4a09c0405fde3ff</string>
	<key>installer_item_hash</key>
	<string>11ca31c62bcdb121ecd3940d7464f2b9f07ef7aed7dd7fcadb3bce400565f279</string>
	<key>installer_item_location</key>
	<string>Caffeine-1.1.1.dmg</string>
	<key>installer_item_size</key>
	<integer>287</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.lightheadsw.Caffeine</string>
			<key>CFBundleName</key>
			<string>Caffeine</string>
			<key>CFBundleVersion</key>
			<string>1.1.1</string>
			<key>minosversion</key>
			<string>10.5</string>
			<key>path</key>
			<string>/Applications/Caffeine.app</string>
			<key>type</key>
			<string>application</string>
			<key>version_comparison_key</key>
			<string>CFBundleVersion</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Caffeine.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.5</string>
	<key>name</key>
	<string>Caffeine</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1.1</string>
</dict>
</plist>
