<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>samuel</string>
		<key>creation_date</key>
		<date>2015-06-18T23:28:51Z</date>
		<key>munki_version</key>
		<string>2.2.2.2414</string>
		<key>os_version</key>
		<string>10.11</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>production</string>
	</array>
	<key>category</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>developer</key>
	<string></string>
	<key>display_name</key>
	<string>Suspicious Package</string>
	<key>installed_size</key>
	<integer>609</integer>
	<key>installer_item_hash</key>
	<string>85327a318b449100e1cbbe2b20969352350055c0d8672f10923ba7aaba59a400</string>
	<key>installer_item_location</key>
	<string>SuspiciousPackage-45.pkg</string>
	<key>installer_item_size</key>
	<integer>230</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>SuspiciousPackage</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>609</integer>
			<key>packageid</key>
			<string>com.mothersruin.pkg.SuspiciousPackagePlugin</string>
			<key>version</key>
			<string>45</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>45</string>
</dict>
</plist>
